#menu {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px - 80px);
    width: 200px;
    box-shadow: 1px 0 0 0 #ccc;
    overflow-y: scroll;
    z-index: 1;
}
#menu_top .item {
    padding: 8px 10px;
    border-radius: 4px;
}
#menu_top .item:hover {
    background-color: var(--list-item-hover-color);
}
#menu_top .item:active {
    background-color: var(--list-item-active-color);
}
#menu_songlist .item {
    padding: 6px 10px;
}
#menu .item {
    width: calc(100% - 20px - 10px);
    margin: 0 2px 0 8px;
    font-size: 16px;
}
#menu .item-focused {
    color: #fff !important;
    background: var(--theme-color) !important;
}

#menu .part {
    position: relative;
    margin-top: 20px;
}
#menu .title {
    margin: 0 0 2px 18px;
    font-size: 14px;
    color: #aaa;
}
#menu .btn {
    position: absolute;
    top: 0;
    right: 12px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    transition: var(--button-transition);
}
#menu .btn:hover {
    background-color: var(--button-hover-color);
}
#menu .btn:active {
    background-color: var(--button-active-color);
}
#menu .btn img {
    width: 100%;
    height: 100%;
}