#playlist {
    position: absolute;
    right: -410px;
    width: 400px;
    top: 60px;
    height: calc(100% - 60px - 80px);
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .1);
    z-index: 3;
    transition: all .2s;
}
#playlist_title {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 26px;
}
#playlist_num {
    position: absolute;
    left: 25px;
    top: 55px;
    font-size: 16px;
}
#playlist_clear {
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 8px 20px;
}

#playlist_top {
    position: absolute;
    top: 95px;
    left: 10px;
    width: calc(100% - 20px);
    display: inline-flex;
}
#playlist_top .content {
    font-size: 14px;
    color: #bbb;
}

.playlist-content {
    position: absolute;
    left: 10px;
    top: 120px;
    width: calc(100% - 14px);
    height: calc(100% - 120px - 10px);
    padding-right: 4px;
    overflow-y: scroll;
}
.playlist-content .item {
    padding: 5px 0;
    width: 100%;
    color: #333;
    border-radius: 4px;
    display: inline-flex;
    transition: all .1s;
}
.playlist-content .item:hover {
    background-color: rgb(0 0 0 / .1);
}
.playlist-content .item:active {
    background-color: rgb(0 0 0 / .15);
}
.playlist-content .item-playing {
    color: #fff !important;
    background: var(--theme-color) !important;
}
.playlist-content .item-focused {
    color: #333 !important;
    border-radius: 0 !important;
    background: #CCE8FF !important;
}
.playlist-content .item-focused img {
    filter: none !important;
}
.playlist-content .item .content {
    height: 20px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist-content .item-odd {
    background-color: #fafafa;
}

#playlist .num img {
    filter: brightness(100);
    height: 17px;
    width: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#playlist .num {
    position: relative;
    width: 30px;
    text-align: right;
    padding-right: 10px;
}
#playlist .title {
    flex: 2;
    padding-right: 10px;
}
#playlist .artist {
    flex: 1;
    padding-right: 6px;
}
#playlist .time {
    width: 50px;
}