::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 114514px;
}

body {
    overflow: hidden;
}

#title {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 0 1px 0 0 #ccc;
    -webkit-app-region: drag;
    z-index: 5;
}
#title_logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 114514px;
}
#title_text {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bolder;
}
#title_buttons {
    position: absolute;
    right: 140px;
    height: 30px;
}
#title_buttons button {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 100%;
    width: 45px;
    transition: all .1s;
    -webkit-app-region: none;
}
#title_buttons button img {
    height: 16px;
    width: 16px;
    margin-top: 2px;
}
#title_buttons button:hover {
    background-color: rgb(0 0 0 / .1);
}
#title_buttons button:active {
    background-color: rgb(0 0 0 / .15);
}
#title_buttons_donate {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    font-size: 15px;
    color: #fff;
    background: var(--theme-color);
    padding: 1px 10px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-app-region: none;
}

#donate {
    white-space: nowrap;
}
#donate img {
    margin-top: 10px;
    height: 300px;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
}

#player {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -1px 0 0 #ccc;
    color: #333;
    z-index: 4;
}
#player_left {
    display: none;
}
#player_left_pic, #player_left_pic_mask {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 4px;
    left: 4px;
    border-radius: 4px;
    border: 1px solid;
}
#player_left_pic {
    border-color: #ccc;
}
#player_left_pic_mask {
    opacity: 0;
    border-color: transparent;
    transition: all .1s;
}
#player_left_pic_mask:hover {
    opacity: 1;
    background-color: rgb(0 0 0 / .4);
}
#player_left_pic_mask:active {
    background-color: rgb(0 0 0 / .5);
}
#player_left_pic_mask img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#player_left_song {
    position: absolute;
    left: 86px;
    top: 14px;
    font-size: 20px;
    font-weight: bolder;
}
#player_left_singer {
    position: absolute;
    left: 86px;
    top: 44px;
    font-size: 17px;
}
#player_left_song, #player_left_singer {
    width: calc((100vw - 460px) / 2 - 86px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#player_center {
    position: absolute;
    width: 460px;
    height: calc(100% - 8px);
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#player_center button {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 5px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    vertical-align: middle;
    transition: all .1s;
}
#player_center button:hover {
    background-color: rgb(0 0 0 / .1) !important;
}
#player_center button:active {
    background-color: rgb(0 0 0 / .15) !important;
}
#player_center img {
    width: 100%;
    height: 100%;
}
#player_center_mode img {
    transform: scale(.85);
}
#player_center_play {
    border-radius: 114514px !important;
    background-color: rgb(0 0 0 / .06) !important;
    width: 42px !important;
    height: 42px !important;
}
#player_center_lyric {
    font-size: 17px !important;
    padding: 2px 5px 5px 5px !important;
}
#player_center_progress {
    position: relative;
    width: calc(100% - 80px);
    height: 4px;
    background-color: #ccc;
    margin: 10px auto;
    border-radius: 114514px;
}
#player_center_progress_l, #player_center_progress_r {
    position: absolute;
    font-size: 12px;
    color: #ccc;
    top: 50%;
    transform: translateY(-50%);
}
#player_center_progress_l {
    left: -40px;
}
#player_center_progress_r {
    right: -40px;
}
#player_center_progress_i {
    width: 0;
    height: 100%;
    background: var(--theme-color);
    border-radius: 114514px;
}
#player_center_progress_c {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: var(--theme-color);
    border: 2px solid #fff;
    border-radius: 114514px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / .6);
    display: none;
}
#player_center_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / .4);
}

#player_right {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    display: none;
}
#player_right button {
    position: relative;
    width: 34px;
    height: 34px;
    padding: 5px;
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .1s;
}
#player_right button:hover {
    background-color: rgb(0 0 0 / .1) !important;
}
#player_right button:active {
    background-color: rgb(0 0 0 / .15) !important;
}

#player_audio {
    display: none;
}

#menu {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px - 80px);
    width: 200px;
    box-shadow: 1px 0 0 0 #ccc;
    overflow-y: scroll;
    z-index: 1;
}
.menu-item {
    width: calc(100% - 20px - 10px);
    margin: 0 2px 0 8px;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    transition: all .1s;
}
.menu-item:hover {
    background-color: rgb(0 0 0 / .1);
}
.menu-item:active {
    background-color: rgb(0 0 0 / .15);
}
.menu-item-focused {
    background: var(--theme-color);
    color: #fff;
}
.menu-class {
    position: relative;
    margin-top: 20px;
}
.menu-title {
    margin: 0 0 2px 18px;
    font-size: 14px;
    color: #aaa;
}
.menu-btn {
    position: absolute;
    top: 0;
    right: 12px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    transition: all .1s;
}
.menu-btn:hover {
    background-color: rgb(0 0 0 / .1);
}
.menu-btn:active {
    background-color: rgb(0 0 0 / .15);
}
.menu-btn img {
    width: 100%;
    height: 100%;
}

#playlist {
    position: absolute;
    right: -410px;
    width: 400px;
    top: 60px;
    height: calc(100% - 60px - 80px);
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .1);
    z-index: 3;
    transition: all .2s;
}
#playlist_title {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 26px;
}
#playlist_num {
    position: absolute;
    left: 25px;
    top: 55px;
    font-size: 16px;
}
#playlist_clear {
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 8px 20px;
}

#playlist_top {
    position: absolute;
    top: 95px;
    left: 10px;
    width: calc(100% - 20px);
    display: inline-flex;
}
#playlist_top .content {
    font-size: 14px;
    color: #bbb;
}

.playlist-content {
    position: absolute;
    left: 10px;
    top: 120px;
    width: calc(100% - 14px);
    height: calc(100% - 120px - 10px);
    padding-right: 4px;
    overflow-y: scroll;
}
.playlist-content .item {
    padding: 5px 0;
    width: 100%;
    color: #333;
    border-radius: 4px;
    display: inline-flex;
    transition: all .1s;
}
.playlist-content .item:hover {
    background-color: rgb(0 0 0 / .1);
}
.playlist-content .item:active {
    background-color: rgb(0 0 0 / .15);
}
.playlist-content .item-playing {
    color: #fff !important;
    background: var(--theme-color) !important;
}
.playlist-content .item-focused {
    color: #333 !important;
    border-radius: 0 !important;
    background: #CCE8FF !important;
}
.playlist-content .item-focused img {
    filter: none !important;
}
.playlist-content .item .content {
    height: 20px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist-content .item-odd {
    background-color: #fafafa;
}

#playlist .num img {
    filter: brightness(100);
    height: 17px;
    width: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#playlist .num {
    position: relative;
    width: 30px;
    text-align: right;
    padding-right: 10px;
}
#playlist .title {
    flex: 2;
    padding-right: 10px;
}
#playlist .artist {
    flex: 1;
    padding-right: 6px;
}
#playlist .time {
    width: 50px;
}

#wbv {
    position: absolute;
    left: 200px;
    top: 60px;
    width: calc(100% - 200px);
    height: calc(100% - 60px - 80px);
    z-index: 0;
}