.loading {
    width: 50px;
    height: 50px;
}
.loading .circle1 {
    stroke: rgb(0 0 0 / .12);
    fill: none;
    stroke-width: 2px;
}
.loading .circle2 {
    animation: spin-infinite 2s linear infinite;
    stroke: var(--theme-accent-color);
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    transform-origin: 50% 50%;
}
@keyframes spin-infinite {
    0% {
        stroke-dasharray: 0.01px 43.97px;
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(450deg);
        stroke-dasharray: 21.99px 21.99px;
    }
    100% {
        stroke-dasharray: .01px 43.97px;
        transform: rotate(1080deg);
    }
}
