.frame {
    background-color: #fff;
    font-size: 0;
}

img, div, button {
    display: inline-block;
    vertical-align: middle;
}
#drag {
    position: relative;
    height: 100%;
    width: 30px;
    -webkit-app-region: drag;
}
#drag img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 25px);
    filter: brightness(2.5);
}
#picture {
    height: 100%;
    width: auto;
}
#info {
    position: relative;
    height: 100%;
    width: 136px;
}
#info p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#info_title {
    margin: 4px 0 2px 8px;
    font-size: 15px;
}
#info_artist {
    margin: 0 0 0 8px;
    font-size: 12px;
}
button {
    border: 0;
    padding: 0;
    background-color: transparent;
    margin: 0 2px;
    transition: all .1s;
}
button:hover {
    background-color: rgb(0 0 0 / .1);
}
button:active {
    background-color: rgb(0 0 0 / .15);
}
#play {
    width: 30px;
    height: 30px;
    border-radius: 114514px;
    border: 2px solid #333;
}
#restore img {
    transform: scale(.75);
}